/* Existing styles... */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #20232a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#upcoming-race p {
    margin: 0;
}

main {
    padding: 20px;
}

#intro {
    margin-top: 40px;
    margin-bottom: 300px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navigation {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; /* Ensures all nav-items are the same width */
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none; 
    color: #b882cb;
    transition: color 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

button:hover {
    color: #9a4e8c;
}

.content-container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #b882cb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-gif {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Flexbox for description section in what-is-f1.html */
.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.flex-container.reverse {
    flex-direction: row-reverse;
}

.text-content {
    flex: 1;
    max-width: 50%; /* Adjust this width to control the text block size */
    font-size: 0.9em; /* Adjust the font size as needed */
    margin-right: 20px; /* Space between text and image */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-container.reverse .text-content {
    margin-right: 0;
    margin-left: 20px; /* Space between text and image when reversed */
}

.side-image {
    max-width: 45%; /* Adjust the image size */
    height: auto;
    border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .flex-container.reverse {
        flex-direction: column;
    }

    .text-content {
        max-width: 100%;
    }

    .side-image {
        max-width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }

    .flex-container.reverse .side-image {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

footer {
    background-color: #20232a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

